<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ike.ischool.main.usr.mapper.StudentMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, name, student_number, student_sex, birthday, nation, native_place, birthplace, enter_time, image_path, politics_status, student_job, identity_number, hobby, remarks, clazz_id, status, create_time, update_time, user_id
	</sql>

</mapper>